<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261201240665-fc265j1hs59c4t5rj0bri38gi1agb5rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261201240665-fc265j1hs59c4t5rj0bri38gi1agb5rr</string>
	<key>API_KEY</key>
	<string>AIzaSyB8DbAvBho5YVt_cJhVQ_palmSVVbGKgFU</string>
	<key>GCM_SENDER_ID</key>
	<string>261201240665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HATTA.BIO</string>
	<key>PROJECT_ID</key>
	<string>hattabio-52afb</string>
	<key>STORAGE_BUCKET</key>
	<string>hattabio-52afb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261201240665:ios:3f3db123ff1ec688d28748</string>
</dict>
</plist>